<?xml version="1.0" encoding="utf-8" ?>

<log4net>

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="C://logfile/log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="yyyyMMdd-HHmm" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
  
  <root>
    <!-- 定义记录的日志级别-->
    <level value="Debug"/>
    <appender-ref ref="RollingFile" />
  </root>

</log4net>
